@charset "UTF-8";
/* CSS Document */


.VolumeArea {
	position: absolute;
	width: 100%;
	bottom: 2px;
}

.PowerArea {
	position: absolute;
	width: 100%;
	top: 0px;
	height: .5in;
	left: 12px;
}
.VolumeSlider {
	height: 0.5in;
	width: 100%;
	/* [disabled]position: absolute; */
	/* [disabled]left: 0px; */
}
.VolumeButton {
	width: .5in;
	position: absolute;
	right: 0px;
	height: .5in;
}
.Button {
	text-align: center;
	height: 0.5in;
	width: 0.5in;
	vertical-align: middle;
	display:inline;
	position: absolute;
}
.TextButton {
	text-align: center;
	vertical-align: middle;
	background-color: #CCC;
	height: 100%;
	width: 100%;
}
.VolumeButton img {
	width: 100%;
}
.PowerArea select {
	width: 100%;
}
.PowerButton {
	width: 0.5in;
	height: 0.5in;
	position: absolute;
	right: 0px;
}
.PowerButton img {
	height: 100%;
	width: 100%;
}
.PowerSelect {
	padding-right: 0.6in;
}
.VolumeSelect {
	padding-right: .6in;
}
.MainArea {
	padding-top: 0.5in;
	padding-bottom: 0.5in;
}
.ButtonMode {
	font-size: x-large;
	text-align: center;
	background-color: #CCC;
	padding: .15in;
	margin: .05in;
}
.ControlArea {
	height: 100%;
	width: 100%;
	text-align: center;
	clear: both;
}
.ControlArea h1 {
	font-size: x-large;
	font-weight: bolder;
}
.Button img {
	height: .5in;
	width: .5in;
}
.SkipBackLabel {
	font-size: x-small;
	text-align: left;
	position: absolute;
	display: inline;
	/* [disabled]width: 0.5in; */
	background-color: #FFF;
}
.SkipForwardLabel {
	font-size: x-small;
	text-align: right;
	position: absolute;
	display: inline;
	/* [disabled]width: 0.5in; */
	background-color: #FFF;
}
.NavigationArea {
	width: 2in;
	height: 2in;
	position: relative;
	margin: auto;
}
.PlaybackArea {
	width: 2in;
	height: 2in;
	position: relative;
	margin: auto;
}
