@charset "UTF-8";
/* CSS Document */


.VolumeArea {
	position: absolute;
	width: 100%;
	bottom: 2px;
}

.PowerArea {
	position: absolute;
	width: 100%;
	top: 0px;
	height: .5in;
	left: 12px;
}
.VolumeSlider {
	height: 0.5in;
	width: 100%;
	/* [disabled]position: absolute; */
	/* [disabled]left: 0px; */
}
.VolumeButton {
	width: .5in;
	position: absolute;
	right: 0px;
	height: .5in;
}
.VolumeButton img {
	width: 100%;
}
.PowerArea select {
	width: 100%;
}
.PowerButton {
	width: 0.5in;
	height: 0.5in;
	position: absolute;
	right: 0px;
}
.PowerButton img {
	height: 100%;
	width: 100%;
}
.PowerSelect {
	padding-right: 0.6in;
}
.VolumeSelect {
	padding-right: .6in;
}
.MainArea {
	padding-top: 0.5in;
	padding-bottom: 0.5in;
}
