@charset "UTF-8";

.ControlTabs {
	display: inline;
	font-size: xx-large;
}

.PowerButton {
	width: 15%;
}
.PowerSelect {
	padding-right: 20%;
}

.VolumeButton {
	width: 15%;
	position: absolute;
	right: 0px;
}
.VolumeSelect {
	padding-right: 20%;
}

.Button {
	width: 25%;
	height: 25%;
}

.NavigationAreaPlacement {
	float: none;
	width: 80%;
	padding-left: 10%;
}
.PlaybackAreaPlacement {
	float: none;
	width: 80%;
	padding-left: 10%;
}

.SkipBackLabel {
	font-size: medium;
}
.SkipForwardLabel {
	font-size: medium;
}

.HiddenPane {
	display: none;
}

.InactiveTab {
	color: #999;
}
