@charset "UTF-8";
/* CSS Document */

.PowerArea {
/*	position: absolute; */
	width: 100%;
	top: 0px;
	left: 0px;
}
.PowerArea select {
	width: 100%;
}
.PowerSelect {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	margin-left: 5px;
}

#volumeArea {
	width: 100%;
}
.VolumeSlider {
	width: 100%;
	font-size: xx-large;
}
.VolumeSelect {
	display: inline-block;
	padding-bottom: 15px;
	vertical-align: top;
}

.Button {
	text-align: center;
	vertical-align: middle;
	display:inline;
	position: absolute;
	width: 16.6%;
	height: 25%;
}
.TextButton {
	text-align: center;
	vertical-align: middle;
	background-color: #333;
	height: 100%;
	width: 100%;
}
.ButtonMode {
	font-size: x-large;
	text-align: center;
	background-color: #CCC;
	padding: .15in;
	margin: .05in;
}
#mainArea {
	width: 100%;
}

.ControlArea {
	height: 100%;
	width: 100%;
	text-align: center;
}
.ControlArea h1 {
	font-size: x-large;
	font-weight: bolder;
}

.Button img {
	width: 100%;
}

.SkipBackLabel {
	/* [disabled]font-size: x-small; */
	text-align: left;
	position: absolute;
	display: inline;
	background-color: #000;
}
.SkipForwardLabel {
	/* [disabled]font-size: x-small; */
	text-align: right;
	position: absolute;
	display: inline;
	background-color: #000;
}

.ButtonPanel {
	position: relative;
	margin: auto;
}
body {
	color: #CCC;
	background-color: #000;
}
.statusArea {
	width: 100%;
	display: inline-block;
}
.statusBox {
	position: absolute;
}
