@charset "UTF-8";
/* CSS Document */

.PowerArea {
/*	position: absolute; */
	width: 100%;
	top: 0px;
	left: 0px;
}
.PowerArea select {
	width: 100%;
}
.PowerButton {
	float: right;
}
.PowerButton img {
	width: 100%;
}
.PowerSelect {
	padding-top: 10px;
}

.VolumeArea {
	position: absolute;
	width: 100%;
}
.VolumeSlider {
	width: 100%;
}
.VolumeSelect {
	padding-top: 15px;
}
.VolumeButton img {
	width: 100%;
}

.Button {
	text-align: center;
	vertical-align: middle;
	display:inline;
	position: absolute;
}
.TextButton {
	text-align: center;
	vertical-align: middle;
	background-color: #CCC;
	height: 100%;
	width: 100%;
}

.MainArea {
	clear: both;
}
.ButtonMode {
	font-size: x-large;
	text-align: center;
	background-color: #CCC;
	padding: .15in;
	margin: .05in;
}

.ControlArea {
	height: 100%;
	width: 100%;
	text-align: center;
	clear: both;
}
.ControlArea h1 {
	font-size: x-large;
	font-weight: bolder;
}

.Button img {
	width: 100%;
}

.SkipBackLabel {
	font-size: x-small;
	text-align: left;
	position: absolute;
	display: inline;
	background-color: #FFF;
}
.SkipForwardLabel {
	font-size: x-small;
	text-align: right;
	position: absolute;
	display: inline;
	background-color: #FFF;
}
.ControlTabs {
	width: 100%;
	left: 0px;
	text-align: left;
	white-space: nowrap;
}
.ControlTabs ul {
	margin: 0px;
	padding: 0px;
}
.ControlTabs li {
	list-style-type: none;
	float: left;
	margin-right: 0.15in;
}

.NavigationArea {
	position: relative;
	width:100%;
	padding-bottom:100%;
	margin: auto;
}
.PlaybackArea {
	position: relative;
	width:100%;
	padding-bottom:100%;
	margin: auto;
}
