<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>TV Remote</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Load in jQuery and jQuery Mobile -->
<link href="/static/js/jquery.mobile-1.4.1/jquery.mobile-1.4.1.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="/static/js/jquery.mobile-1.4.1/jquery.mobile-1.4.1.js"></script>
<style type="text/css">
</style>
<link href="/static/css/controls-base.css" rel="stylesheet" type="text/css" />

<!-- Icons -->
<!-- 16x16 -->
<!-- <link rel="shortcut icon" href="/favicon.ico"> -->
<!-- 32x32 -->
<link rel="shortcut icon" href="/static/icons/favicon32.png">
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed" href="/static/icons/favicon57.png">
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/icons/favicon72.png">
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/icons/favicon114.png">
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/icons/favicon144.png">
</head>

<body>
<div data-role="page" data-theme="b">
<div class="PowerArea">
  <div class="PowerSelect">
    <select name="state" id="state" data-native-menu="false" onchange="sendMode()">
      {% for mode in mode_list %}<option value="{{ mode }}">{{ mode }}</option>{% endfor %}
    </select>
  </div>
  <img src="/static/icons/power-on.png" alt="Refresh On" name="powerButton" id="powerButton" onclick="sendMode()" />
</div>
<div id="mainArea">
  <div class="ControlArea" id="EverythingOff">
    <h1>Select Mode</h1>
    <ul data-role="listview">
      {% for mode in on_mode_list %}
        <li><a href="#" onclick="sendModeByName('{{mode}}')">{{mode}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="ControlArea" id="TiVo">
    <div data-role="tabs">
      <div data-role="navbar">
        <ul>
          <li><a href="#playbackArea" data-ajax="false">Playback</a></li>
          <li><a href="#navigationArea" data-ajax="false">Navigation</a></li>
        </ul>
      </div>
      <div id="playbackArea" class="ButtonPanel">
        <div class="Button" style="left:22%;" onclick="sendTiVo('play')">
          <img src="/static/icons/playback-play.png" alt="Play" />
        </div>
        <div class="Button" style="left:40%; width:35%; height:35%;" onclick="sendTiVo('pause')">
          <img src="/static/icons/playback-pause.png" alt="Pause" />
        </div>
        <div class="Button" style="left:0%; top:25%;" onclick="sendTiVo('seek-backward')">
          <img src="/static/icons/playback-seek-back.png" alt="Seek Backward" />
        </div>
        <div class="Button" style="left:83.3%; top:25%;" onclick="sendTiVo('seek-forward')">
          <img src="/static/icons/playback-seek-forward.png" alt="Seek Forward" />
        </div>
        <div class="Button" style="left:0%; bottom:10%;" onclick="sendTiVoBack(60)">
          <img src="/static/icons/playback-skip-back-time.png" alt="Back 1 Minute" />
        </div>
        <div class="SkipBackLabel" style="left:0%; bottom:10%">1 min</div>
        <div class="Button" style="left:16.6%; bottom:10%;" onclick="sendTiVoBack(30)">
          <img src="/static/icons/playback-skip-back-time.png" alt="Back 30 Seconds" />
        </div>
        <div class="SkipBackLabel" style="left:16.6%; bottom:10%">30 sec</div>
        <div class="Button" style="left:33.3%; bottom:10%;" onclick="sendTiVoBack(8)">
          <img src="/static/icons/playback-skip-back-time.png" alt="Back 8 Seconds" />
        </div>
        <div class="SkipBackLabel" style="left:33.3%; bottom:10%">8 sec</div>
        <div class="Button" style="right:33.3%; bottom:15%;" onclick="sendTiVoForward(8)">
          <img src="/static/icons/playback-skip-forward-time.png" alt="Forward 8 Seconds" />
        </div>
        <div class="SkipForwardLabel" style="right:33.3%; bottom:15%">8 sec</div>
        <div class="Button" style="right:16.6%; bottom:15%;" onclick="sendTiVoForward(30)">
          <img src="/static/icons/playback-skip-forward-time.png" alt="Forward 30 Seconds" />
        </div>
        <div class="SkipForwardLabel" style="right:16.6%; bottom:15%">30 sec</div>
        <div class="Button" style="right:0%; bottom:15%;" onclick="sendTiVoForward(60)">
          <img src="/static/icons/playback-skip-forward-time.png" alt="Forward 1 Minute" />
        </div>
        <div class="SkipForwardLabel" style="right:0%; bottom:15%">1 min</div>
      </div>
      <div id="navigationArea" class="ButtonPanel">
        <div class="Button" style="left:0in; top:0in;" onclick="sendTiVo('tivo')" >
          <div class="TextButton">TiVo</div>
        </div>
        <div class="Button" style="left:83.4%; top:0%;" onclick="sendTiVo('live-tv')" >
          <div class="TextButton">Live TV</div>
        </div>
        <div class="Button" style="left:41.6%; top:12.5%;" onclick="sendTiVo('up')" >
          <img src="/static/icons/navigate-up.png" alt="Up" />
        </div>
        <div class="Button" style="left:25%; top:37.5%;" onclick="sendTiVo('left')">
          <img src="/static/icons/navigate-left.png" alt="Left" />
        </div>
        <div class="Button" style="left:41.6%; top:37.5%;" onclick="sendTiVo('select')">
          <img src="/static/icons/navigate-select.png" alt="Select" />
        </div>
        <div class="Button" style="left:58.3%; top:37.5%;" onclick="sendTiVo('right')">
          <img src="/static/icons/navigate-right.png" alt="Right" />
        </div>
        <div class="Button" style="left:41.6%; top:62.5%;" onclick="sendTiVo('down')">
          <img src="/static/icons/navigate-down.png" alt="Down" />
        </div>
        <div class="Button" style="left:59%; top:5%;" onclick="sendTiVo('channel-up')">
          <img src="/static/icons/channel-up.png" alt="Channel Up" />
        </div>
        <div class="Button" style="left:59%; top:70%;" onclick="sendTiVo('channel-down')">
          <img src="/static/icons/channel-down.png" alt="Channel Down" />
        </div>
        <!--
        <div class="Button" style="left:0%; top:75%;" onclick="sendTiVo('tivo')">
          <div class="TextButton">TiVo</div>
        </div>
        <div class="Button" style="left:83.4%; top:75%;" onclick="sendTiVo('return')">
          <img src="/static/icons/navigate-return.png" alt="Return" />
        </div>
        -->
      </div>
    </div>
  </div>
  <div class="ControlArea" id="Blu-Ray">
    <div data-role="tabs">
      <div data-role="navbar">
        <ul>
          <li><a href="#playbackArea" data-ajax="false">Playback</a></li>
          <li><a href="#navigationArea" data-ajax="false">Navigation</a></li>
        </ul>
      </div>
      <div id="playbackArea" class="ButtonPanel">
        <div class="Button" style="left:22%;" onclick="sendBluRay('play')">
          <img src="/static/icons/playback-play.png" alt="Play" />
        </div>
        <div class="Button" style="left:40%; width:35%; height:35%;" onclick="sendBluRay('pause')">
          <img src="/static/icons/playback-pause.png" alt="Pause" />
        </div>
        <div class="Button" style="left:0%; top:25%;" onclick="sendBluRay('seek-backward')">
          <img src="/static/icons/playback-seek-back.png" alt="Seek Backward" />
        </div>
        <div class="Button" style="left:83.3%; top:25%;" onclick="sendBluRay('seek-forward')">
          <img src="/static/icons/playback-seek-forward.png" alt="Seek Forward" />
        </div>
        <div class="Button" style="left:0%; top:60%;" onclick="sendBluRay('previous-track')">
          <img src="/static/icons/playback-skip-back.png" alt="Previous Track" />
        </div>
        <div class="Button" style="left:83.3%; top:60%;" onclick="sendBluRay('next-track')">
          <img src="/static/icons/playback-skip-forward.png" alt="Next Track" />
        </div>
        <!--
        <div class="Button" style="left:0%; bottom:10%;" onclick="sendBluRayBack(60)">
          <img src="/static/icons/playback-skip-back-time.png" alt="Back 1 Minute" />
        </div>
        <div class="SkipBackLabel" style="left:0%; bottom:10%">1 min</div>
        <div class="Button" style="left:16.6%; bottom:10%;" onclick="sendBluRayBack(30)">
          <img src="/static/icons/playback-skip-back-time.png" alt="Back 30 Seconds" />
        </div>
        <div class="SkipBackLabel" style="left:16.6%; bottom:10%">30 sec</div>
        <div class="Button" style="left:33.3%; bottom:10%;" onclick="sendBluRayBack(8)">
          <img src="/static/icons/playback-skip-back-time.png" alt="Back 8 Seconds" />
        </div>
        <div class="SkipBackLabel" style="left:33.3%; bottom:10%">8 sec</div>
        <div class="Button" style="right:33.3%; bottom:15%;" onclick="sendBluRayForward(8)">
          <img src="/static/icons/playback-skip-forward-time.png" alt="Forward 8 Seconds" />
        </div>
        <div class="SkipForwardLabel" style="right:33.3%; bottom:15%">8 sec</div>
        <div class="Button" style="right:16.6%; bottom:15%;" onclick="sendBluRayForward(30)">
          <img src="/static/icons/playback-skip-forward-time.png" alt="Forward 30 Seconds" />
        </div>
        <div class="SkipForwardLabel" style="right:16.6%; bottom:15%">30 sec</div>
        <div class="Button" style="right:0%; bottom:15%;" onclick="sendBluRayForward(60)">
          <img src="/static/icons/playback-skip-forward-time.png" alt="Forward 1 Minute" />
        </div>
        <div class="SkipForwardLabel" style="right:0%; bottom:15%">1 min</div>
        -->
      </div>
      <div id="navigationArea" class="ButtonPanel">
        <div class="Button" style="left:0in; top:0in;" onclick="sendBluRay('top-menu')" >
          <div class="TextButton">Top Menu</div>
        </div>
        <div class="Button" style="left:83.4%; top:0%;" onclick="sendBluRay('pop-up-menu')" >
          <div class="TextButton">Pop Up / Menu</div>
        </div>
        <div class="Button" style="left:41.6%; top:12.5%;" onclick="sendBluRay('up')" >
          <img src="/static/icons/navigate-up.png" alt="Up" />
        </div>
        <div class="Button" style="left:25%; top:37.5%;" onclick="sendBluRay('left')">
          <img src="/static/icons/navigate-left.png" alt="Left" />
        </div>
        <div class="Button" style="left:41.6%; top:37.5%;" onclick="sendBluRay('select')">
          <img src="/static/icons/navigate-select.png" alt="Select" />
        </div>
        <div class="Button" style="left:58.3%; top:37.5%;" onclick="sendBluRay('right')">
          <img src="/static/icons/navigate-right.png" alt="Right" />
        </div>
        <div class="Button" style="left:41.6%; top:62.5%;" onclick="sendBluRay('down')">
          <img src="/static/icons/navigate-down.png" alt="Down" />
        </div>
        <!--
        <div class="Button" style="left:59%; top:5%;" onclick="sendBluRay('channel-up')">
          <img src="/static/icons/channel-up.png" alt="Channel Up" />
        </div>
        <div class="Button" style="left:59%; top:70%;" onclick="sendBluRay('channel-down')">
          <img src="/static/icons/channel-down.png" alt="Channel Down" />
        </div>
        -->
        <div class="Button" style="left:0%; top:75%;" onclick="sendBluRay('system-menu')">
          <div class="TextButton">System Menu</div>
        </div>
        <div class="Button" style="left:83.4%; top:75%;" onclick="sendBluRay('return')">
          <img src="/static/icons/navigate-return.png" alt="Return" />
        </div>
      </div>
    </div>
  </div>
  <div class="ControlArea" id="XBox360">
    <h1>No Remote for XBox 360</h1>
    Use Game Controllers
  </div>
  <div class="ControlArea" id="Wii">
    <h1>No Remote for Wii</h1>
    Use Game Controllers
  </div>
  <div class="ControlArea" id="Playstation2">
    <h1>No Remote for Playstation 2</h1>
    Use Game Controllers
  </div>
</div>
<div id="volumeArea">
  <div class="VolumeSelect">
    <form class="full-width-slider">
      <input id="volume" type="range" class="VolumeSlider" min="81" max="141" data-highlight="true" />
    </form>
  </div>
  <img src="/static/icons/volume-on.png" id="mute" onclick="toggleMute()" />
</div>
<div class="statusArea">
  <a href="#systemMenu" data-rel="popup">
    <img src="/static/icons/gear.png" id="systemMenuButton" />
  </a>
  <div data-role="popup" id="systemMenu">
    <ul data-role="listview" data-inset="true">
      <li><a href="#" onclick="reloadPage()">Reload</a></li>
      <li><a href="#" onclick="openServerManager()">Open Server Manager</a></li>
      <li><a href="#" onclick="restartServerManager()">Restart Server Manager</a></li>
    </ul>
  </div>
  <div id="status" class="statusBox" style="left:20%; width:80%;">
    <!-- Status Goes Here -->
  </div>
</div>
</div>
<!-- If you have trouble with a host not loading the controls.js script,
     you can force a new load by changing the url below slightly by changing
     the number after v= (which does nothing). -->
<script type="text/javascript" src="/static/js/controls.js?v=1"></script>
<script type="text/javascript">
$(document).ready(function() {
	// Initialize mode
	setUpModeByName('{{start_mode}}');
	// Make text box next to slider read only.
	$(".ui-slider-input").prop("readonly",true);
	// Initialize volume, slider, and mute
	$('#volume').val({{volume}});
	$('#volume').slider('refresh');
	// Original had volume change on every slider movement, but the IR
	// update is too slow and finicky for that. Instead, change when
	// user lets go.
	//$('#volume').on("change", function(event, ui) {
	//	setVolume($('#volume').val());
	//});
	$('#volume').on("slidestop", function(event, ui) {
		setVolume($('#volume').val());
	});
	setMuteFlag({{mute}});

	initGUI();

	// Specail way to remove address bar.
	window.addEventListener("load",function() {
		// Set a timeout...
		setTimeout(function(){
			// Hide the address bar!
			window.scrollTo(0, 1);
		}, 0);
	});
});
</script>
</body>
</html>
