<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<style type="text/css"></style>
<link href="/static/css/controls-base.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="PowerArea">
  <div class="PowerButton"><img src="/static/icons/power-on.png" width="128" height="128" alt="Refresh On" /></div>  <label for="state"></label>
  <div class="PowerSelect">
    <select name="state" id="state" onchange="setUpMode(this.selectedIndex)">
      {% for mode in mode_list %}
      <option>{{ mode }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<div class="MainArea">Content</div>
<div class="VolumeArea">
  <div class="VolumeButton"><img src="/static/icons/volume-on.png" id="mute" onclick="toggleMute()" /></div>
  <div class="VolumeSelect">
    <input id="volume" type="range" class="VolumeSlider" min="0" max="185" oninput="setVolume(this.value)" />
  </div>
</div>
<script type="text/javascript" src="/static/js/controls.js"></script>
<script type="text/javascript">
volumeTag = document.getElementById("volume");
volumeTag.value = {{volume}};
setMuteFlag({{mute}});
</script>
</body>
</html>
